fastapi
uvicorn
langchain
langchain-community
langchain-ollama
langchain-text-splitters
langchain-chroma
chromadb
fastembed
sqlalchemy
pypdf
sentence-transformers
rank-bm25
sentencepiece
protobuf
ddgs
